:root {
    /* fonts */
    --font-lexend: Lexend;
    --font-inherit: inherit;
    --font-inter: Inter;
    --font-averta-regular: Averta-Regular;
  
    /* font sizes */
    --font-size-xs: 0.75rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.88rem;
    --font-size-mini: 0.94rem;
  
    /* Colors */
    --color-orange-medium-light: #f9f7f6;
    --color-grey-light: #ebeff1;
    --color-gray-100: #fdfdfc;
    --color-orange-light: #fdfcfb;
    --color-blue-dark: #102733;
    --color-blue-medium: #164056;
    --color-primary-purple: #74409d;
    --color-purple-medium: #54237c;
    --color-inactive: #cdd2d6;
    --color-white: #fff;
    --color-grey-medium: #9fa9ad;
    --color-success-green: #43ac8c;
    --color-coral: #e0714e;
  
    /* Gaps */
    --gap-9xs: 0.25rem;
    --gap-7xs: 0.38rem;
    --gap-xl: 1.25rem;
  
    /* Paddings */
    --padding-7xs: 0.38rem;
    --padding-xs: 0.75rem;
    --padding-5xs: 0.5rem;
    --padding-13xl: 2rem;
    --padding-9xs: 0.25rem;
    --padding-base: 1rem;
  
    /* Border radiuses */
    --br-xs: 12px;
    --br-base: 16px;
    --br-5xs: 8px;
    --br-81xl: 100px;
  }
  