<main class="main">
  <header class="header">
      <div class="left">
          <button class="back">
              <img class="icon" src="assets/icons/right-arrow.svg" />
              <span>Back</span>
          </button>
          <button class="create-new">
              <div class="dot"></div>
              <div class="text">Create new article</div>
          </button>
      </div>
      <div class="right">
          <div class="info">
              <img class="icon" src="assets/icons/Info.svg" />
              Lorem ipsum dolore
          </div>
          <button class="exit">
              I'm exiting the process
          </button>
      </div>
  </header>
  <header class="header-mobile">
      <button class="back">
          <img class="icon" src="assets/icons/right-arrow.svg" />
          <span>Back</span>
      </button>
      <div class="create-new">
          <span>Create a new article</span>
          <img class="icon" src="assets/icons/iconsdissmiss.svg" />
      </div>
  </header>
  <app-stepper></app-stepper>
</main>
